.article_image {
  height: 28vh;
  width: 22vw;
}
.articles {
  border-style: solid;
  border-width: 1px;
  margin: 8px;
  flex: 1;
}
.latest_article {
  display: flex;

  padding-left: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
}

.stay_in_know {
  font-size: 20px;

  flex: 1;
}
.input_button {
  display: flex;
}
