.main_div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20vh;
}
.main_login_div {
  background-color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin-top: 25px;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-bottom: 50px;
  padding-top: 35px;
  opacity: 0.6;
}

.logo {
  height: 10vh;
}
.login_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  width: 100%;
}

.welcome {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 28px;
}
.submit_button {
  margin-top: 20px;

  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 41vh;
  background-color: #fd7463;
  opacity: none;
  font-family: helvetica;
  font-weight: lighter;
  border-radius: 7px;
}
.signup {
  margin-top: 10px;
  background-color: #fd7463;
  opacity: 1;
  font-family: helvetica;
  font-weight: lighter;
}
.enter_email {
  padding-top: 10px;
  padding-bottom: 10px;
  max-width: 40vh;
  font-family: helvetica;
  font-weight: lighter;

  width: 100%;
}
.red_line {
  background: url("https://app.traackr.com/img/login_bg_analytics.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
}
.links_div {
  margin-top: 60px;
}
.top_red_line {
  background-color: #fd7463;
  height: 7px;
  width: 100%;
  position: fixed;
}
a {
  text-decoration: none;
  font-family: helvetica;
  font-weight: lighter;
  color: white;
  font-size: 14px;
}
.footer_para_login {
  font-family: helvetica;
  font-weight: lighter;
  color: white;
  font-size: 14px;
}
.enter {
  font-family: helvetica;
  font-weight: lighter;
  font-size: 18px;
}
